.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .carousel-button:first-child {
    left: 10px;
  }
  
  .carousel-button:last-child {
    right: 10px;
  }
  .propiedad-info {
    display: flex;
    flex-direction: column-reverse; /* Invierte el orden de los elementos */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .propiedad-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .estado {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .precio {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .tipo-propiedad,
  .expensas,
  .descripcion,
  .m2-totales,
  .m2-cubiertos,
  .m2-terreno,
  .ambientes,
  .banios,
  .dormitorios,
  .anio,
  .otros {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .caracteristicas p {
    font-size: 14px;
    color: #444;
  }
  
  .descripcion {
    font-size: 14px;
    color: #777;
    font-style: italic;
    margin-bottom: 15px;
  }
  
  /* CSS para el componente de ubicación */
.ubicacion-info {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.ubicacion-info h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

.ubicacion-info p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
  color: #555;
}

.ubicacion-info .direccion,
.ubicacion-info .piso-departamento,
.ubicacion-info .municipio,
.ubicacion-info .codigo-postal {
  padding-left: 10px;
  position: relative;
}

.ubicacion-info .direccion::before,
.ubicacion-info .piso-departamento::before,
.ubicacion-info .municipio::before,
.ubicacion-info .codigo-postal::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #007BFF;
}

.ubicacion-info .codigo-postal {
  font-weight: bold;
}

app-mapa {
  display: block;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
}
