<h2 class="titulo">{{ propiedad.titulo }}</h2>

<div id="img-container" *ngIf="propiedad.imagenes && propiedad.imagenes.length > 0" class="img-container">
  <div class="carousel-container">
    <!-- Botón anterior a la izquierda de la imagen -->
    <button (click)="anteriorImagen()" class="carousel-button anterior">Anterior</button>
    <div class="carousel">
      <!-- Imagen actual -->
      <img [src]="getImagen(imagenActual)" alt="Imagen de propiedad" class="carousel-image zoomable">
    </div>
    <!-- Botón siguiente a la derecha de la imagen -->
    <button (click)="siguienteImagen()" class="carousel-button siguiente">Siguiente</button>
  </div>
  <button (click)="contactar()" class="contactar-btn">Contactar</button>
</div>

<!-- Mensaje si no hay imágenes -->
<div *ngIf="propiedad.imagenes == null || propiedad.imagenes.length == 0">
  <p>No hay imágenes disponibles para esta propiedad.</p>
</div>

<!-- Información principal -->
<div class="main-info">
  <h1 *ngIf="propiedad.alquiler" class="estado">En alquiler</h1>
  <h1 *ngIf="!propiedad.alquiler" class="estado">En venta</h1>
  <p class="precio">{{ propiedad.precio | currency }}</p>
  <p class="descripcion">{{ propiedad.descripcion }}</p>
</div>

<!-- Información detallada en columnas -->
<div class="propiedad-info-columns">
  <div class="column">
    <p class="tipo-propiedad">Tipo de propiedad: {{ propiedad.tipoPropiedad }}</p>
    <p class="expensas">Expensas: {{ propiedad.expensas | currency }}</p>
    <p class="m2-cubiertos">m² Cubiertos: {{ propiedad.caracteristicas.m2Cubiertos }}</p>
    <p class="m2-terreno">m² Terreno: {{ propiedad.caracteristicas.m2Totales }}</p>
  </div>
  <div class="column">
    <p class="ambientes">Ambientes: {{ propiedad.caracteristicas.cantidadAmbientes }}</p>
    <p class="banios">Baños: {{ propiedad.caracteristicas.cantidadBanios }}</p>
    <p class="dormitorios">Dormitorios: {{ propiedad.caracteristicas.cantidadDormitorios }}</p>
    <p class="anio">Año de construcción/remodelación: {{ propiedad.caracteristicas.anioConstruccionRemodelacion }}</p>
  </div>
  <div class="column">
    <p class="otros">Cantidad de plantas: {{ propiedad.caracteristicas.cantidadPlantas }}</p>
    <p class="otros">Cantidad de garages: {{ propiedad.caracteristicas.cantidadGarages }}</p>
    <p class="otros">Cantidad de elevadores: {{ propiedad.caracteristicas.cantidadElevadores }}</p>
    <div class="caracteristicas">
      <p *ngIf="propiedad.caracteristicas.parrilla">Parrilla: Sí</p>
      <p *ngIf="propiedad.caracteristicas.pileta">Pileta: Sí</p>
      <p *ngIf="propiedad.caracteristicas.balcon">Balcón: Sí</p>
      <p *ngIf="propiedad.caracteristicas.patio">Patio: Sí</p>
      <p *ngIf="propiedad.caracteristicas.gimnasio">Gimnasio: Sí</p>
      <p *ngIf="propiedad.caracteristicas.seguridad">Seguridad: Sí</p>
    </div>
  </div>
</div>

<!-- Ubicación -->
<div class="ubicacion-container">
  <div class="column ubicacion-info">
    <h2>Ubicación</h2>
    <p class="direccion">{{ propiedad.ubicacion.direccion }}</p>
    <p class="piso-departamento" *ngIf="propiedad.ubicacion.piso_departamento">Piso/Departamento: {{ propiedad.ubicacion.piso_departamento }}</p>
    <p class="municipio">{{ propiedad.ubicacion.municipio }}, {{ propiedad.ubicacion.provincia }}</p>
    <p class="codigo-postal">Código Postal: {{ propiedad.ubicacion.codigoPostal }}</p>
  </div>
  <div class="column">
    <app-mapa class="mapa" [direccion]="dirCompleta(propiedad.ubicacion)"></app-mapa>
  </div>
</div>

<app-preguntas [preguntas]="propiedad.preguntas" [idPropiedad]="idpropiedad"></app-preguntas>
