/* Contenedor principal */
.main-info {
  text-align: center;
  margin-bottom: 20px;
}

/* Título centrado */
.titulo {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

/* Título, precio y descripción más grandes */
h2, .precio, .descripcion {
  font-size: 1.5em;
  margin: 10px 0;
}

/* Contenedor de columnas */
.propiedad-info-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilo de columnas */
.column {
  flex: 1;
  margin: 10px;
  min-width: 250px; /* Ancho mínimo de la columna */
}

/* Imagen y mapa */
.img-container {
  max-width: 50%;
  margin: auto;
}

.mapa {
  width: 100%; /* Ajustar el ancho al 100% del contenedor */
  height: auto;
  display: block; /* Asegurarse de que el contenedor del mapa sea un bloque */
}

/* Carousel */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.carousel-image {
  z-index: 1000;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out; /* Transición para el efecto de zoom */
}

/* Efecto de zoom en la imagen */
.carousel-image.zoomable:active {
  transform: scale(1.5); /* Escalar al 150% cuando se haga clic */
}

/* Botones del carousel con más estilo */
.carousel-button {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px; /* Agregar bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  transform: scale(1); /* Escala inicial */
}

.carousel-button:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.1); /* Escala al pasar el ratón */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

/* Botón anterior a la izquierda */
.anterior {
  margin-right: 10px;
}

/* Botón siguiente a la derecha */
.siguiente {
  margin-left: 10px;
}

/* Botón contactar */
.contactar-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px; /* Agregar bordes redondeados */
  transition: background-color 0.3s, transform 0.3s; /* Transición para hover */
}

.contactar-btn:hover {
  background-color: #218838;
  transform: scale(1.05); /* Escala al pasar el ratón */
}

/* Contenedor de ubicación */
.ubicacion-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.ubicacion-info {
  flex: 1;
  min-width: 250px; /* Ancho mínimo de la columna */
}

.mapa {
  flex: 1;
  max-width: 100%; /* Asegurar que el mapa ocupe el 100% del espacio disponible */
  margin-left: -15%;
}
